* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#D3E4DF, #FCFCFC);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 4%;
}

nav img {
    width: 150px;
    border-radius: 10px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #a3a5a4;
    text-decoration: none;
    font: bold;
    font-size: 18px;
}

.register {
    color: #172A30;
    text-decoration: none;
    font: bold;
    font-size: 18px;
    padding: 10px 14px;
    margin-left: 10px;
}

.btn {
    color: white;
    text-decoration: none;
    font: bold;
    font-size: 18px;
    background-color: #172A30;
    padding: 10px 14px;
    border-radius: 4px;
    margin-left: 10px;
}

.hero-box {
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 4%;
}

.hero-image {
    width: 50%;
}

.reliable-btn {
    padding: 8px 14px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    color: #31333d;
}

.text-area h1 {
    font-size: 80px;
    font-weight: 400;
}

.text-area p {
    color: #a3a5a4;
    font-size: 36px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 14px 20px;
    background-color: #172A30;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.text-btn {
    padding: 14px 20px;
    color: #172A30;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.logo-area {
    width: 100%;
    margin-top: -50px;
    background-image: linear-gradient(#F5F5F5, #F5F5F5);
    background-position: center;
    background-size: cover;
    position: relative;

}

.logo {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}

.logo img {
    border-radius: 16px;
    width: 80%;
    height: 50%;

}

.features {
    background-image: linear-gradient(#FCFCFC, #F5F5F5);
}

.features-area {
    text-align: center;

}

.features-area button {
    margin-top: 40px;
    padding: 10px 20px;
    color: #172A30;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.features-area h1 {
    font-size: 60px;
    font-weight: 400;
}

.features-area p {
    color: #a3a5a4;
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.features-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.features-img img {
    width: 400px;
    height: 500px;
}

.features-hero {
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 4%;
}

.features-hero img {
    width: 50%;
}

.features-hero h1 {
    font-size: 60px;
    font-weight: 400;

}

.features-hero p{
    color: #a3a5a4;
    font-size: 32px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.features-hero button{
    padding: 14px 20px;
    background-color: #172A30;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.needs-area{
    background-color:rgb(242, 245, 241) ;
    padding: 4% 4%;
}

.needs-area h1{
    font-size: 60px;
    font-weight: 400;
    padding-left: 4%;
}

.needs-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.needs-img img{
    width: 400px;
    height: 500px;
}

.review-area{
    background-color: #FCFCFC;
}

.review-text{
    text-align: center;
}

.review-text button{
    margin-top: 40px;
    padding: 10px 20px;
    color: #172A30;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.review-text h1{
    font-size: 50px;
    font-weight: 400;
}

.review{
    display: flex;
    margin: 40px;
    justify-content: space-around;
    
}

.review-header{
    display: flex;
    align-items: center;
}
.review-header img{
    width: 20%;
    border-radius: 200px;
}

.review-card{
    border: 1px solid gray;
    border-radius: 20px;
    width: 400px;

}

.review-card p{
    padding: 20px;

}

.reviewer-name ul img{
    width: 30px;
    color: orange;
}

.social ul li{
	
	display: inline;
	padding: 1%;
}



.review-card{

}

.footer-area{
    background-color: #172A30;
}
.footer-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a3a5a4;
    border-radius: 24px;
    margin: 40px 40px;
    padding: 20px;
}

.footer-head button{
    padding: 14px 20px;
    background-color: #172A30;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 30px;
}

.footer-text img{
    border-radius: 14px;
    margin-bottom: 8px;
}

.footer-text p{
    color: wheat;
}

.footer-text li{
    color: wheat;
    list-style: none;
    padding-bottom: 4px;
}

.font{
    font-size: 20px;
    font-weight: 600;
    color: wheat;
    padding-bottom: 12px;
}

.social ul{
	list-style-type: none;
}




